/hoodle/dist
/hoodle-core/dist
/hoodle-extra/dist
/hoodle-render/dist
/hoodle-types/dist
/hoodle-parser/dist
/hoodle-builder/dist
/xournal-types/dist
/xournal-parser/dist
/coroutine-object/dist
/hoodle/deps
/trash

